.all {
  height: 100vh;
  width: 100%;
  display: flex;
}

.side {
  width: calc(100vw - 70vw);
  border: solid 1px red;
}

.shop-main {
  width: calc(100vw - 30vw);
  border: solid 1px blue;
}

#name {
  z-index: -1;
  position: relative;
}

#address {
  z-index: 2;
  position: absolute;
}

#preview img {
  width: 200px;
  margin: 10px;
  border: solid 1px silver;
}

